<h2 class='panel-heading'>
  Hi
</h2>
<hr/>
<!-- ngFor to iterate through the folder names! -->

<h2>Deployment Form</h2>

<div class="form-group">
  <label for="hqBuild">Select HQ Build</label>
  <select class="form-control" id="hqBuild" required>
    <option *ngFor="let hqBuild of hqBuilds" [value]="Build">{{hqBuild.name}}</option>
  </select>
</div>

<div class="form-group">
  <label for="hqInstallationType">Select HQ installation type</label>
  <select class="form-control" id="hqInstallationType" required>
    <option *ngFor="let type of list.hqInstallation" [value]="type">{{type}}</option>
  </select>
</div>

<div class="form-group">
  <label for="flBuild">Select FL Build</label>
  <select class="form-control" id="flBuild" required>
    <option *ngFor="let flBuild of flBuilds" [value]="Build">{{flBuild.name}}</option>
  </select>
</div>


<hr/>
